{% extends 'MyBlogBundle::layout.html.twig' %}

{% block body %}
<h1>Edit Post</h1>
<form action="{{ path('blog_edit_post', {'id':post.id}) }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <input type="submit" value="Save Post" />
</form>
{% endblock %}
